/* line 17, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* HTML5 display-role reset for older browsers */
/* line 7, ../sass/app.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 10, ../sass/app.scss */
body {
  line-height: 1;
}

/* line 11, ../sass/app.scss */
blockquote, q {
  quotes: none;
}

/* line 13, ../sass/app.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* tables still need 'cellspacing="0"' in the markup */
/* line 15, ../sass/app.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* remember to define focus styles. Hee Haw */
/* line 17, ../sass/app.scss */
:focus {
  outline: 0;
}

/* line 19, ../sass/app.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* ------------------------------------------
Typography
---------------------------------------------*/
/* line 34, ../sass/app.scss */
html, body {
  color: #7A8387;
  background: #d0e6ee;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  line-height: 1.5em;
}

/* line 44, ../sass/app.scss */
body,
textarea,
input {
  font: 13px/20px "OpenSans", sans-serif;
}

/* line 46, ../sass/app.scss */
a {
  color: #526066;
  text-decoration: none;
  -moz-transition: background 100ms linear, color 100ms linear;
  -o-transition: background 100ms linear, color 100ms linear;
  -webkit-transition: background 100ms linear, color 100ms linear;
  transition: background 100ms linear, color 100ms linear;
}

/* line 54, ../sass/app.scss */
a:hover {
  color: #3d4548;
}

/* line 58, ../sass/app.scss */
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* line 64, ../sass/app.scss */
p > a {
  font-weight: bold;
}

/* line 66, ../sass/app.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: 1.5em;
}

/* line 73, ../sass/app.scss */
h1 {
  font-size: 24px;
}

/* line 74, ../sass/app.scss */
h1 small {
  font-size: 13px;
  font-weight: normal;
}

/* line 75, ../sass/app.scss */
h2 {
  font-weight: normal;
  font-size: 16px;
  padding: 5px 0 5px 30px;
}

/* line 80, ../sass/app.scss */
h2 small {
  font-size: 16px;
  font-weight: normal;
}

/* line 81, ../sass/app.scss */
h3 {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 10px;
}

/* line 88, ../sass/app.scss */
h3 small {
  font-size: 14px;
  font-weight: normal;
}

/* line 89, ../sass/app.scss */
h4 {
  font-size: 14px;
}

/* line 90, ../sass/app.scss */
h5 {
  font-size: 13px;
}

/* line 91, ../sass/app.scss */
h6 {
  font-size: 11px;
  font-weight: normal;
}

/* line 93, ../sass/app.scss */
p {
  font-size: 16px;
  line-height: 1.5em;
  margin-bottom: 0px;
  margin-top: 10px;
}

/* Use border-box box model */
/* line 101, ../sass/app.scss */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* ------------------------------------------
Globals
---------------------------------------------*/
/* line 111, ../sass/app.scss */
#container {
  min-height: 100%;
  min-width: 800px;
  /* Top Branding/Navigation */
}
/* line 115, ../sass/app.scss */
#container #header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 0 20px;
  height: 30px;
  background: #6da5bd;
  overflow: visible;
}
/* line 124, ../sass/app.scss */
#container #header a.title {
  font-size: 14px;
  line-height: 30px;
  color: white;
  height: 30px;
  font-weight: bold;
}
/* line 130, ../sass/app.scss */
#container #header a.title span {
  display: none;
}
/* line 134, ../sass/app.scss */
#container #header .navigation {
  width: 800px;
  margin: 0 auto;
  font-size: 12px;
  position: relative;
  line-height: 30px;
  padding: 0;
  overflow: visible;
}
/* line 144, ../sass/app.scss */
#container #main {
  padding-top: 30px;
  overflow: auto;
  padding-bottom: 60px;
  /* must be same height as the footer */
  /* ------------------------------------------
  Article
  ---------------------------------------------*/
}
/* line 152, ../sass/app.scss */
#container #main .article-navigation {
  display: none;
  width: 800px;
  margin: 0 auto;
  padding: 20px 0;
  overflow: auto;
}
/* line 158, ../sass/app.scss */
#container #main .article-navigation .article-link {
  display: block;
  float: left;
  height: 40px;
  width: 40px;
  -webkit-border-radius: 20px 20px;
  -moz-border-radius: 20px / 20px;
  -ms-border-radius: 20px / 20px;
  -o-border-radius: 20px / 20px;
  border-radius: 20px / 20px;
  background: rgba(0, 0, 0, 0.3);
  border: 3px solid #fff;
  margin-right: 20px;
}
/* line 167, ../sass/app.scss */
#container #main .article-navigation .article-link:hover, #container #main .article-navigation .article-link.active {
  background: #078FA2;
}
/* line 172, ../sass/app.scss */
#container #main .intro {
  color: white;
  background: url("/img/background.jpg") repeat-x;
  /*background: #fff;*/
  padding: 40px;
  padding-bottom: 20px;
  border-top: 1px solid #c3ccd0;
  border-bottom: 1px solid #c3ccd0;
}
/* line 180, ../sass/app.scss */
#container #main .intro .title {
  font-family: 'Varela Round';
  color: rgba(255, 255, 255, 0);
  background: url("/img/logo.png") no-repeat;
  background-size: 80%;
  height: 60px;
  width: 800px;
  margin: 20px auto;
  font-size: 36px;
  margin-bottom: 10px;
  font-weight: bold;
  padding-bottom: 10px;
}
/* line 193, ../sass/app.scss */
#container #main .intro .abstract {
  width: 800px;
  font-size: 20px;
  margin: 20px auto;
}
/* line 198, ../sass/app.scss */
#container #main .intro .meta {
  width: 800px;
  margin: 20px auto;
  padding-top: 20px;
}
/* line 204, ../sass/app.scss */
#container #main .article-wrapper {
  background: #fff;
  padding-bottom: 50px;
}
/* line 207, ../sass/app.scss */
#container #main .article-wrapper .post-content {
  width: 800px;
  margin: 0px auto;
  padding: 20px 0;
  font-family: 'OpenSans', sans-serif;
  font-weight: normal;
  font-size: 16px;
}
/* line 214, ../sass/app.scss */
#container #main .article-wrapper .post-content * {
  line-height: 1.2em;
}
/* line 217, ../sass/app.scss */
#container #main .article-wrapper .post-content p, #container #main .article-wrapper .post-content ul, #container #main .article-wrapper .post-content ol, #container #main .article-wrapper .post-content li {
  line-height: 1.5em;
}
/* line 220, ../sass/app.scss */
#container #main .article-wrapper .post-content h1 {
  font-size: 36px;
  margin: 10px 0 20px 0;
}
/* line 221, ../sass/app.scss */
#container #main .article-wrapper .post-content h2 {
  font-size: 24px;
  margin: 10px 0 20px 0;
  font-weight: bold;
  padding: 0;
}
/* line 222, ../sass/app.scss */
#container #main .article-wrapper .post-content h3, #container #main .article-wrapper .post-content h4, #container #main .article-wrapper .post-content h5, #container #main .article-wrapper .post-content h6 {
  text-transform: none;
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
}
/* line 228, ../sass/app.scss */
#container #main .article-wrapper .post-content blockquote {
  padding-left: 19px;
  border-left: 1px solid #C3CCD0;
  font-style: italic;
  margin-bottom: 20px;
}
/* line 234, ../sass/app.scss */
#container #main .article-wrapper .post-content ul {
  margin-left: 0px;
  padding-left: 20px;
  list-style: disc;
}
/* line 239, ../sass/app.scss */
#container #main .article-wrapper .post-content ol {
  margin-left: 0px;
  padding-left: 20px;
  list-style: decimal;
}
/* line 244, ../sass/app.scss */
#container #main .article-wrapper .post-content img {
  max-width: 100%;
}
/* line 247, ../sass/app.scss */
#container #main .article-wrapper .post-content a {
  border-bottom: 1px dashed #C3CCD0;
  font-weight: normal;
}
/* line 251, ../sass/app.scss */
#container #main .article-wrapper .post-content p {
  margin-bottom: 20px;
}
/* line 254, ../sass/app.scss */
#container #main .article-wrapper .post-content p:last-child {
  margin-bottom: 20px;
}
/* line 257, ../sass/app.scss */
#container #main .article-wrapper .post-content code {
  font-family: Menlo, monospace;
  padding: 4px;
  border-radius: 3px;
  font-size: 12px;
  border: 1px solid #C3CCD0;
}
/* line 264, ../sass/app.scss */
#container #main .article-wrapper .post-content pre {
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #C3CCD0;
}
/* line 269, ../sass/app.scss */
#container #main .article-wrapper .post-content pre code {
  border: none;
}
/* line 272, ../sass/app.scss */
#container #main .article-wrapper .post-content hr {
  margin: 5px 0 4px 0;
  border-top: 1px solid #C3CCD0;
  border-bottom: 0;
  border-radius: 5px;
}
/* line 280, ../sass/app.scss */
#container #main .article-wrapper .team .member {
  float: left;
}
/* line 282, ../sass/app.scss */
#container #main .article-wrapper .team .member:first-child {
  margin-left: -25px;
}
/* line 285, ../sass/app.scss */
#container #main .article-wrapper .team .member .thumbnail {
  display: block;
  height: 120px;
  width: 120px;
  -webkit-border-radius: 60px 60px;
  -moz-border-radius: 60px / 60px;
  -ms-border-radius: 60px / 60px;
  -o-border-radius: 60px / 60px;
  border-radius: 60px / 60px;
  background: rgba(0, 0, 0, 0.3);
  border: 3px solid #fff;
  margin: 0px 25px 10px 25px;
}
/* line 294, ../sass/app.scss */
#container #main .article-wrapper .team .member div {
  text-align: center;
}
/* line 298, ../sass/app.scss */
#container #main .article-wrapper .team .member div .subtitle {
  font-size: 12px;
}

/* ------------------------------------------
Footer - a sticky one
---------------------------------------------*/
/* must declare 0 margins on everything, also for main layout components use padding, not 
vertical margins (top and bottom) to add spacing, else those margins get added to total height 
and your footer gets pushed down a bit more, creating vertical scroll bars in the browser */
/* line 313, ../sass/app.scss */
#footer {
  background: #d0e6ee;
  position: relative;
  margin-top: -60px;
  /* negative value of footer height */
  height: 60px;
  overflow: hidden;
  line-height: 60px;
  border-top: 1px solid #c3ccd0;
  clear: both;
}
/* line 322, ../sass/app.scss */
#footer .footer-content {
  width: 800px;
  margin: 0 auto;
  font-size: 15px;
}
/* line 326, ../sass/app.scss */
#footer .footer-content p {
  margin: 16px 0;
}
/* line 330, ../sass/app.scss */
#footer a.help, #footer a.about {
  margin-right: 20px;
  padding-left: 20px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  background-image: url("images/sprite.png");
}

/* line 343, ../sass/app.scss */
#post .inner {
  position: relative;
}

/* line 347, ../sass/app.scss */
a.about {
  background-position: 0 -959px;
}

/* line 348, ../sass/app.scss */
a.help {
  background-position: 0 -1049px;
}

/*Opera Fix*/
/* line 352, ../sass/app.scss */
body:before {
  /* thanks to Maleika (Kohoutec)*/
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px;
  /* thank you Erik J - negate effect of float*/
}

/* ------------------------------------------
Class Helpers
---------------------------------------------*/
/* line 364, ../sass/app.scss */
.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 372, ../sass/app.scss */
* html .clearfix {
  height: 1%;
}

/* IE6 */
/* line 373, ../sass/app.scss */
*:first-child + html .clearfix {
  min-height: 1%;
}

/* IE7 */
/* line 375, ../sass/app.scss */
.icon {
  background: transparent url(images/icons.png) no-repeat 0 0;
  width: 20px;
  height: 20px;
  display: block;
  text-indent: -999em;
}

/* line 382, ../sass/app.scss */
.fl {
  float: left;
}

/* line 383, ../sass/app.scss */
.fr {
  float: right;
}

/* line 384, ../sass/app.scss */
.clear {
  clear: both;
}

/* line 386, ../sass/app.scss */
.inner {
  padding: 0px 0px 40px;
}

/* line 387, ../sass/app.scss */
.hidden {
  display: none;
}

/* line 388, ../sass/app.scss */
.centered {
  text-align: center;
}

/* line 389, ../sass/app.scss */
.scrolling {
  overflow: auto;
}

/* line 390, ../sass/app.scss */
.clipping {
  overflow: hidden;
}

/* ------------------------------------------
ios and small screen alterations
---------------------------------------------*/
@media all and (max-width: 480px) {
  /* line 396, ../sass/app.scss */
  #post .inner {
    width: 100%;
    margin: 0;
    padding: 20px 0 40px;
  }

  /* line 401, ../sass/app.scss */
  .toggle-mode {
    right: 0;
  }
}
