---
layout: default
---

{% include  _pages-navbar.html %}

{% for item in site.categories.pages reversed %}
	{% if forloop.first %}
  <div class="intro">
    <div class="title">{{item.title}}</div>
    <div class="abstract">{{item.abstract}}</div>
    <div class="meta"> Posted by <a href="http://twitter.com/{{item.author_twitter}}">{{item.author}}</a> on {{ item.date | date: "%B %d, %Y" }} </div>
  </div>

  <div class="article-wrapper">
    <div class="help post-content">
      {{ item.content }}
    </div>
  </div>
	{% endif %}
{% endfor %}

