---
layout: default
---

{% include  _pages-navbar.html %}

<div class="intro">
	<div class="title">{{page.title}}</div>
	<div class="abstract">{{page.abstract}}</div>
	<div class="meta"> Last updated on {{ 'now' | date: "%B %d, %Y" }} </div>
</div>

<div class="article-wrapper">
	<div class="team post-content clearfix">
		{% for item in site.categories.team reversed %}
		<div class="member">
			<div class="thumbnail" style="background-image: url({{item.image}});">
			</div>
			<div>
				<div class="title">{{item.title}}</div>
				<div class="subtitle">{{item.subtitle}}</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>